apiVersion: apps/v1
kind: Deployment
metadata:
  name: log-output
spec:
  replicas: 1
  selector:
    matchLabels:
      app: log-output
  template:
    metadata:
      labels:
        app: log-output
    spec:
      volumes:
        - name: shared-image
          persistentVolumeClaim:
            claimName: image-claim
      containers:
        - name: log-writer
          image: eplol/log-writer:1.1
          volumeMounts:
          - name: shared-image
            mountPath: /mydir/shared/files
          env:
          - name: "PORT"
            value: "3000"
        - name: log-getter
          image: eplol/log-getter:1.2
          volumeMounts:
          - name: shared-image
            mountPath: /mydir/shared/files
          env:
          - name: "PORT"
            value: "3000"