apiVersion: apps/v1
kind: Deployment
metadata:
  name: ping-pong
spec:
  replicas: 1
  selector:
    matchLabels:
      app: ping-pong
  template:
    metadata:
      labels:
        app: ping-pong
    spec:
      volumes:
        - name: shared-image
          emptyDir: {}
      containers:
        - name: ping-pong
          image: eplol/ping-pong:2.1
          volumeMounts:
          - name: shared-image
            mountPath: /mydir/shared/files
          env:
          - name: "PORT"
            value: "3000"