apiVersion: argoproj.io/v1alpha1
kind: Rollout
metadata:
  name: ping-pong
  namespace: exercises
spec:
  replicas: 4
  selector:
    matchLabels:
      app: ping-pong
  strategy:
    canary:
      analysis:
        templates:
          - templateName: cpu-usage-rate
      steps:
      - setWeight: 25
      - pause:
          duration: 300s
      - setWeight: 50
      - pause:
          duration: 30s
  template:
    metadata:
      labels:
        app: ping-pong
    spec:
      volumes:
        - name: shared-image
          emptyDir: {}
      containers:
        - name: ping-pong
          image: eplol/ping-pong:3.4
          volumeMounts:
          - name: shared-image
            mountPath: /mydir/shared/files
          env:
          - name: "PORT"
            value: "3000"
          readinessProbe:
            initialDelaySeconds: 10
            periodSeconds: 5
            httpGet:
               path: /healthz
               port: 3000