apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: project-staging
  namespace: argocd
spec:
  project: default
  source:
    repoURL: https://github.com/eerojantunen/KubernetesSubmissions
    path: project/overlays/staging 
    targetRevision: "4.9"
  destination:
    server: https://kubernetes.default.svc
    namespace: staging
  syncPolicy:
    automated:
      prune: true
      selfHeal: true