apiVersion: apps/v1
kind: Deployment
metadata:
  name: todo-backend
  namespace: exercises
spec:
  replicas: 1
  selector:
    matchLabels:
      app: todo-backend
  template:
    metadata:
      labels:
        app: todo-backend
    spec:
      containers:
        - name: todo-backend
          image: eplol/todo-backend:1.4
          env:
          - name: PORT
            value: "8000"